<br>

<div class="container-fluid mt-5 mb-5">
  <div class="row">
      <div class="col-md-10 offset-md-1">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      
                      <h3 class="h3-responsvie cg-font" style="font-weight: 900">Events</h3>
                      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laborum facilis necessitatibus itaque vitae perferendis, hic ab unde placeat veniam aspernatur vero asperiores inventore voluptatum quia eos ratione, ea voluptas.</p>
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-md-12">
                      <h4 class="h4-responsive google-font">Upcoming Events</h4>
                      <p class="text-muted cg-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto vitae ea totam officiis suscipit.</p>
                  </div>
              </div>

              <div class="row p-0">
                  <div class="col-md-11 p-0">
                      <div class="container-fluid">
                          <div class="row">

                              <div class="col-md-4 mb-3">

                                  <div class="container-fluid" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;z-index: 5">
                                      <div class="row p-0" style="border-radius: 8px">
                                          <div class="col-md-12 p-0" style="border-radius: 8px">
                                              <img src="https://lh3.googleusercontent.com/OrF0ijMKpmg9JGUYTW6dOzfww79MAyAekGMOoq4xjUDFSenPceho2P8WXH4szdKUuczvl8xO3NcOTRHAZW4anY-nV-rDw8ZP=s688" style="border-top-left-radius: 8px;border-top-right-radius: 8px" width="100%" alt="" srcset="">
                                          </div>
                                      </div>
                                      <div class="row mt-3">
                                          <div class="col-md-12">
                                              <p class="cg-font mb-0" style="font-size: 110%;font-weight: 400;"><b>Event Name</b></p>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7">
                                              <p class="cg-font text-muted mt-1" style="font-size: 90%"><i class="far fa-calendar-check"></i> 24 May 2018</p>
                                              
                                          </div>
                                          <div class="col-md-5">
                                              <a href="#" class="cg-font mt-1" style="font-size: 90%;color:#4285F4;font-weight: 900">Learn More</a>
                                          </div>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                      <div class="container-fluid" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;z-index: 5">
                                          <div class="row p-0" style="border-radius: 8px">
                                              <div class="col-md-12 p-0" style="border-radius: 8px">
                                                  <img src="https://lh3.googleusercontent.com/OrF0ijMKpmg9JGUYTW6dOzfww79MAyAekGMOoq4xjUDFSenPceho2P8WXH4szdKUuczvl8xO3NcOTRHAZW4anY-nV-rDw8ZP=s688" style="border-top-left-radius: 8px;border-top-right-radius: 8px" width="100%" alt="" srcset="">
                                              </div>
                                          </div>
                                          <div class="row mt-3">
                                              <div class="col-md-12">
                                                  <p class="cg-font mb-0" style="font-size: 110%;font-weight: 400;"><b>Event Name</b></p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-8">
                                                  <p class="cg-font text-muted mt-1" style="font-size: 90%"><i class="far fa-calendar-check"></i> 24 May 2018</p>
                                                  
                                              </div>
                                              <div class="col-md-4">
                                                  <a href="#" class="cg-font mt-1" style="font-size: 90%;color:#4285F4;font-weight: 900">Learn More</a>
                                              </div>

                                          </div>
                                      </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                      <div class="container-fluid" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;z-index: 5">
                                          <div class="row p-0" style="border-radius: 8px">
                                              <div class="col-md-12 p-0" style="border-radius: 8px">
                                                  <img src="https://lh3.googleusercontent.com/OrF0ijMKpmg9JGUYTW6dOzfww79MAyAekGMOoq4xjUDFSenPceho2P8WXH4szdKUuczvl8xO3NcOTRHAZW4anY-nV-rDw8ZP=s688" style="border-top-left-radius: 8px;border-top-right-radius: 8px" width="100%" alt="" srcset="">
                                              </div>
                                          </div>
                                          <div class="row mt-3">
                                              <div class="col-md-12">
                                                  <p class="cg-font mb-0" style="font-size: 110%;font-weight: 400;"><b>Event Name</b></p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-8">
                                                  <p class="cg-font text-muted mt-1" style="font-size: 90%"><i class="far fa-calendar-check"></i> 24 May 2018</p>
                                                  
                                              </div>
                                              <div class="col-md-4">
                                                  <a href="#" class="cg-font mt-1" style="font-size: 90%;color:#4285F4;font-weight: 900">Learn More</a>
                                              </div>

                                          </div>
                                      </div>

                              </div>
                              
                            
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row mt-5">
                  <div class="col-md-12">
                      <h4 class="h4-responsive google-font">Directory of past events</h4>
                      <p class="text-muted cg-font"><i class="fas fa-exclamation-triangle"></i> Events are listed in reverse chronological order by date.</p>
                  </div>
              </div>

              <div class="row mt-2">
                  <div class="col-md-12">
                      <table class="table table-borderless table-hover ">
                          <thead class="grey lighten-5">
                              <tr>
                                  <th scope="col">Event Date</th>
                                  <th scope="col">Event Name</th>
                                  <th scope="col">Event Location</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                              <tr>
                                  <td>26 May 2018</td>
                                  <td><a href="#">Build PWA with AMP</a></td>
                                  <td>Event Location</td>
                              </tr>
                          </tbody>
                              
                      </table>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
