<nav class="navbar fixed-top navbar-expand-md navbar-light z-depth-0 white cg-font" style="border-bottom: 5px solid #e0e0e0;border-width: 1px">
  <div class="container-fluid col-md-10 offset-md-1 col-lg-10 offset-lg-1">
    <a class="navbar-brand cg-font" href="#"><img src="assets/img/svg/cgxx.svg" width="40%" alt="" srcset=""></a>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-lg-0">

        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Programs</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Workshops</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
       
        <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Learn Online</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          
        <li class="nav-item pl-1 pr-1" style="background: #2D2B36;border-radius: 25px;">
          <a class="nav-link text-white" href="#">Host Workshop</a>
        </li>
      </ul>
    </div>
  </div>
</nav>