<div class="container-fluid " >
  <div class="row ml-5" style="background: #F2EFF1; border-top-left-radius: 70%;border-bottom-left-radius: 30%">
    <div class="col-md-10 col-12 offset-md-1 pt-5 pb-5">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-5 text-center">
            <img src="assets/img/svg/bg2.svg" width="100%" alt="" srcset="">
          </div>
          <div class="col-md-7 pl-5">
            <h3 class="google-font">Skilling INDIA for Industry 4.0</h3>
            <p class="cg-font">At Coding Gurukul our vision is to make you efficient as per the industry requirement. 

              <br><br>
              To fulfill our vision, every training and course includes essential lessons on Project Management, Team Collaboration, Dynamic Public Speaking, Problem Solving, Design Thinking and Continuous Learning.
            </p>
                <br>
                <a href="" class="btn m-0 btn-md btn-outline-deep-orange z-depth-0 float-left cg-font" style="text-transform:capitalize;"><b>Know More</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
