<div class="container-fluid pt-5 pb-2 mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h3 class="h3-responsive google-font">Our Programs are equipped with everthing, that you need to Rock.</h3>
      <p class="text-muted cg-font">From Design Thinking classes to Machine Learning, from Accelerated Mobile Pages to Natural Language Processing. From User Experience Research to Dynamic Public Speaking and Communication. We cover all! We want to inspire, encourage and fulfill internet innovation and make sure that no student, specialist and entrepreneur is left behind. </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <div class="container-fluid">
        <div class="row ">
            <div class="col-md-3 text-center">
                <img src="assets/img/svg/bg3.svg" width="70%" height="40%" alt="">
                <h5 class="h5-responsive google-font mt-3">Project Management</h5>
                <p class="text-muted cg-font mx-auto" style="font-size:80%">Software Development is a key and so does managing the entire project. We 
                  improve the way that you organize, manage, and present your skills to succeed in a competency-based, competitive job selection.<br>
                <br><br>
                </p>
                  
                <a href="#">Learn More</a>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/img/svg/bg4.svg" width="70%" height="40%" alt="">
                <h5 class="h5-responsive google-font mt-3">Team Collaboration</h5>
                <p class="text-muted cg-font mx-auto" style="font-size:80%">We believe in 10X thinking, Big Tree Brainstorming, Diverse Collaborative Approach, Moonshot Thinking. 
                  We believe that with great powers comes even greater responsibilities :D.<br><br><br>
                </p>
                
                <a href="#">Learn More</a>
            </div>

            <div class="col-md-3 text-center">
                <img src="assets/img/svg/bg5.svg" width="70%" height="40%" alt="">
                <h5 class="h5-responsive google-font mt-3">Professional Skills</h5>
                <p class="text-muted cg-font mx-auto" style="font-size:80%">Good speaking is your most enduring job skill. Our Dynamic Public Speaking and Communication will provide you with the instruction, experience, and practice to develop and deliver compelling presentations. 
                <br><br></p>
                <a href="#">Learn More</a>
            </div>

            <div class="col-md-3 text-center">
                <img src="assets/img/svg/bg6.svg" width="70%" height="40%" alt="">
                <h5 class="h5-responsive google-font mt-3">Program Syllabus</h5>
                <p class="text-muted cg-font mx-auto" style="font-size:80%">Our Programs are hand-picked by the top evangelists of big multinational companies. With a combine experience of hosting over 80 workshops, sessions, hackathons and code-labs. We are focusing on providing skills to nurture the New India.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>