<div class="container-fluid pt-5 pb-5 mt-5" >
    <div class="row">
      <div class="col-md-10 offset-md-1 p-5 text-white z-depth-1" style="background: #2D2B36;border-radius: 12px">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                <h3 class="h3-responsive google-font">Services at #CodinGurukul</h3>
                <p class=" cg-font" style="color:#D4D4D4">At Coding Gurukul our vision is to make you efficient as per the industry requirement. To fulfill our vision, every training and course includes essential lessons on Project Management, Team Collaboration, Dynamic Public Speaking, Problem Solving, Design Thinking and Continuous Learning.
                   </p>
              </div>
          </div>
          <div class="row mt-5 d-flex align-items-start">
            <div class="col-md-12">
              <div class="container-fluid">
                <div class="row align-items-center ">
                    <div class="col-md-3 text-center">
                        <img src="assets/img/svg/bg7.svg" width="40%" height="100px" alt="">
                        <h5 class="h5-responsive google-font mt-3">Online Courses</h5>
                        <p class="cg-font mx-auto w-70" style="color:#D4D4D4">Webcast, Podcast, Google Hangouts and even Moodle, we use it all. Our team of facilitators and evangelist caters topics from various field.</p>
                        <!-- <a href="#">Learn More</a> -->
                        <br><div class="d-sm-none d-md-block"><br><br><br> </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/img/svg/bg8.svg" width="40%" height="100px" alt="">
                        <h5 class="h5-responsive google-font mt-3">Offline Courses</h5>
                        <p class=" cg-font mx-auto w-70" style="color:#D4D4D4">Training on Web Technology (Node JS, Angular, React, PWA, AMP), Mobile Application Development (Android, Flutter), Cloud,  Machine Learning and Dynamic Public Speaking and Communication, etc.</p>
                       <br>
                    </div>
      
                    <div class="col-md-3 text-center">
                        <img src="assets/img/svg/bg9.svg" width="40%" height="100px" alt="">
                        <h5 class="h5-responsive google-font mt-3">Workshops</h5>
                        <p class="cg-font mx-auto w-70" style="color:#D4D4D4">With a combine experience of hosting over 80 workshops, sessions, hackathons and code-labs. We are focusing on providing skills to nurture the New India.</p>
                        <br><br>
                    </div>
      
                    <div class="col-md-3 text-center">
                        <img src="assets/img/svg/bg10.svg" width="40%" height="100px" alt="">
                        <h5 class="h5-responsive google-font mt-3">Training Program</h5>
                        <p class=" cg-font mx-auto w-70" style="color:#D4D4D4">We are providing 6 weeks Dynamic Industry Training, Summer Training, Winter Training & Corporate re-skill Program.</p>
                       <br><br><br><br>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>