<div class="container-fluid pt-5 pb-5" style="background-image: linear-gradient(white, #bdbdbd);">
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h3 class="h3-responsive google-font">How it works?</h3>
        <p class="text-muted cg-font">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-10 offset-md-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 offset-md-1">
              <p style="background: orange;border-radius: 50%;width: 20px;height: 20px;font-size: 150%" class="p-0 cg-font">1</p>
              <h2 class="google-font h2-responsive">Join</h2>
              <p class="text-muted cg-font">Join a course of your interest.</p>
            </div>
            <div class="col-md-2">
              <p style="background: orange;border-radius: 50%;width: 20px;height: 20px;font-size: 150%" class="p-0 cg-font">2</p>
              <h2 class="google-font h2-responsive">Learn</h2>
              <p class="text-muted cg-font">Attend classes and work on assignments.</p>
            </div>
            <div class="col-md-2">
              <p style="background: orange;border-radius: 50%;width: 20px;height: 20px;font-size: 150%" class="p-0 cg-font">3</p>
              <h2 class="google-font h2-responsive">Create</h2>
              <p class="text-muted cg-font">Detailed guidance for making projects.</p>
            </div>
            <div class="col-md-2">
              <p style="background: orange;border-radius: 50%;width: 20px;height: 20px;font-size: 150%" class="p-0 cg-font">4</p>
              <h2 class="google-font h2-responsive">Community</h2>
              <p class="text-muted cg-font">Get help from support and other students.</p>
            </div>
            <div class="col-md-2">
              <p style="background: orange;border-radius: 50%;width: 20px;height: 20px;font-size: 150%" class="p-0 cg-font">5</p>
              <h2 class="google-font h2-responsive"> Success</h2>
              <p class="text-muted cg-font">Talk about projects during interviews.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>