
<div class="d-lg-none d-xl-none d-md-none d-lg-none"></div>
<div class="container-fluid flex-center flex-column mt-5" style="height: 94vh">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-md-6 cg-font order-md-1 order-sm-1 order-lg-1 order-2">
            <h2 class="google-font h2-responsive"><span style="font-weight: 900;color:#ef6c00">94% of engineering graduates are not fit for hiring,</span> what's wrong with engineering education in india ?</h2>
            <p class="text-muted">Approx <span style="font-weight: 1000">30 Million</span> recent graduates <span style="font-weight: 1000">briefed</span> that education they received through there universities are completely outdated or tends to be un-skillable once they graduate. </p>
            <br>

            <ul class="list-inline float-left">
                <li class="list-inline-item mr-3">
                    <a href="#" style="color: #3E4551"><i class="fab fa-x fa-2x fa-facebook"></i></a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="#" style="color: #3E4551"><i class="fab fa-x fa-2x fa-google-plus-g"></i></a>
                </li>
                <li class="list-inline-item mr-3">
                <a href="#" style="color: #3E4551"><i class="fab fa-x  fa-2x fa-twitter"></i></a>
                </li>
            </ul>
            <br><br><br>
            <h3 class="h3-responsive cg-font">#BE LIMITLESS</h3><br>
            <a href="" class="btn m-0 btn-md btn-deep-orange z-depth-0 float-left cg-font" style="text-transform:capitalize;"><b>Getting Started</b></a>

          </div>

          <div class="col-md-6 order-md-2 order-sm-2 order-lg-2 order-1 mb-3">
            <img src="assets/img/svg/bg1.svg" width="100%" alt="" srcset="">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>