
/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
    font-family: google-sans;
    src: url(assets/font/GoogleSans-Regular.ttf);
}

.google-font{
    font-family: google-sans
}

.cg-font{
  font-family: 'Comfortaa', cursive;
}